body {
  margin: 0;
  padding: 0;

  font-family: Roboto, sans-serif;
  font-size: 16px;
  line-height: 30px;
  font-weight: 500;
  color: #000000;
  background-color: #ffffff;
}

img {
  max-width: 100%;
  height: auto;
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;

  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.main-header {
  width: 100%;
  background-color: #eeeeee;
}

.container {
  width: 1160px;
  margin: 0 auto;
  padding: 0 20px;
}

.main-navigation .container {
  display: flex;
  justify-content: space-between;
}

.main-header-logo {
  height: 65px;
  width: 160px;
  padding-top: 50px;
  margin-right: 200px;
}

.site-navigation {
  display: flex;
  width: 600px;

}

.site-navigation a,
.user-navigation a {
  display: block;
  padding: 85px 25px;
}

.user-navigation {
  position: relative;
  max-width: 160px;
}

.site-navigation,
.user-navigation {
  margin: 0;
  padding: 0;
  list-style: none;
}

.site-navigation a,
.user-navigation a {
  padding: 85px 25px 20px;
  text-decoration: none;
  text-transform: uppercase;
  color: #000000;
}

.site-navigation a:hover,
.user-navigation a:hover,
.site-navigation a:focus,
.user-navigation a:focus {
  text-decoration: none;
  text-transform: uppercase;
  color: #fb565a;
}

.site-navigation a:active,
.user-navigation a:active {
  text-decoration: none;
  text-transform: uppercase;
  color: #bcbcbc;
}

.site-navigation .site-navigavion-current {
  box-shadow: inset 0 -20px 0 -15px #fb565a;
}

.user-navigation .basket {
  padding-left: 80px;
}

.user-navigation .basket::before {
  content: "";
  position: absolute;

  top: 92px;
  left: 45px;
  width: 17px;
  height: 17px;

  background-image: url("../img/basket-icon.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.catalog-welcome {
  margin: 0;
  margin-bottom: 60px;
  padding-top: 65px;
  padding-bottom: 110px;
  font-size: 55px;
  line-height: 55px;
  text-align: center;
  background-color: #eeeeee;
}

.flex-catalog {
  display: flex;
}

.catalog-filters {
  width: 260px;
  margin-right: 140px;
}

.catalog-filters fieldset {
  border: none;
  margin: 0;
  padding: 0;

  margin-bottom: 35px;
}

.catalog-filters legend {
  font-weight: bold;
  margin-bottom: 10px;
}

.filter-form ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.filter-grid-title,
.filter-advantages-title {
  text-transform: uppercase;
  font-size: 18px;
}

.filter-option {
  line-height: 20px;
  margin-bottom: 25px;
  padding-left: 40px;

}


.filter-option label {
  color: #b8b8b8;
  line-height: 20px;
  position: relative;

  display: block;

  cursor: pointer;
  user-select: none;
}

.filter-option label:hover,
.filter-option label:focus,
.filter-option:hover label::before,
.filter-input-radio:checked:hover + label::after {
  color: #4d4d4d;
  border-color: #4d4d4d;

}

.filter-option label:active,
.filter-option:active label::before,
.filter-input-radio:checked:active + label::after {
  color: #ededed;
  border-color: #ededed;
}

.filter-input-radio + label::before {
  content: "";
  position: absolute;
  width: 17px;
  height: 17px;

  left: -40px;
  top: -2.7px;

  border: 4px solid #b8b8b8;
  border-radius: 50%;
}

.filter-input-radio:checked + label::after {
  content: "";
  position: absolute;
  width: 0px;
  height: 0px;

  top: 6px;
  left: -31.5px;

  border: 4px solid #b8b8b8;
  border-radius: 50%;
}



.filter-input-checkbox + label::before {
  content: "";
  position: absolute;
  width: 27px;
  height: 27px;

  background-image: url("../img/checkbox-on.svg");
  background-repeat: no-repeat;

}

.filter-input-radio:checked + label::after {
  content: "";
  position: absolute;
  width: 0px;
  height: 0px;

  top: 6px;
  left: -31.5px;

  border: 4px solid #b8b8b8;

}

.catalog {
  width: 760px;
  display: flex;
}

.catalog-list {
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
}

.catalog-item {
  position: relative;
  margin-right: 40px;
  margin-bottom: 25px;
}

.item-header {

  width: 360px;
  height: 40px;
  background-color: #e9e9e9;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.catalog-item:hover .item-header {
  background-color: #4d4d4d;
}

.item-header div {
  display: inline-block;
  width: 13px;
  height: 13px;
  margin: 13px 8px 13px 15px;
  background-color: #ffffff;
  border-radius: 50%;

}

.item-header div:nth-child(n+2) {
  margin-left: 0;
}

.catalog-item .item-hover{
  position: absolute;
  width: 360px;
  opacity: 0;
  min-height: 220px;
  padding-top: 10px;
  top: 385px;
  text-align: center;
  background-color: #eeeeee;
}

.catalog-item:hover .item-hover {
  opacity: 1;
}

.catalog-item a {
  margin-left: auto;
  margin-right: auto;
}

.catalog-category {
  display: block;
  width: 240px;
  margin-left: auto;
  margin-right: auto;
  color: #818181;
}

.catalog-item:nth-child(even) {
  margin-right: 0;
}

.catalog-item-title{
  text-transform: uppercase;
  color: #000000;
  text-decoration: none;
  font-weight: bolder;

}

.services .services-list  {
  display: flex;
  padding: 0;
  margin: 0;
  margin-bottom: 100px;
  list-style: none;
}

.services-item {
  width: 300px;
  margin-right: 100px;
}

.services-item:last-child {
  margin-right: auto;
}

.services-list h3 {

  font-size: 24px;
  text-transform: uppercase;
}

.services-list p {
  margin-bottom: 35px;
  line-height: 24px;
  font-weight: 400;
}

.button {
  display: block;
  width: 160px;
  padding-top: 15px;
  padding-bottom: 15px;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  line-height: 18px;
  border-radius: 5px;
  border-radius: 5px;
}

.button-1 {
  color: #ffffff;
  background-color: #fb565a;
  border: none;
}

.button-1:hover,
.button-1:focus {
  background-color: #e74246;
}

.button-1:active {
  color: #e38486;
  background-color: #d7373b;
  box-shadow: inset 0 3px 0 0 #c13135;
}

.button-2 {
  color: #ffffff;
  background-color: #00ca74;
}

.button-2:hover,
.button-2:focus {
  background-color: #00bc6c;
}

.button-2:active {
  color: #74c69a;
  background-color: #00aa62;
  box-shadow: inset 0 3px 0 0 #009958;
}

.button-3 {
  color: #ffffff;
  background-color: #efc84a;
}

.button-3:hover,
.button-3:focus {
  background-color: #eab534;
}

.button-3:active {
  color: #edc47c;
  background-color: #e5a722;
  box-shadow: inset 0 3px 0 0 #ce961f;
}

.main-footer .container {
  display: flex;
}

.social-footer {
  width: 260px;
  margin-right: 140px;
}

.social-footer .social-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.main-footer p {
  width: 560px;
}

.social-list {
   display: flex;
   justify-content: space-between;
   width: 260px;
}

.social-button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80px;
  height: 80px;
  border-radius: 50%;
  color: #ffffff;
  background-color: #e1e1e1;

}

.social-button:hover,
.social-button:focus {
  color: #ffffff;
  background-color: #e74246;
}

.social-button:active {
  color: #e37376;
  background-color: #d7373b;
}

.main-footer b {
  text-align: center;
  font-size: 36px;
  line-height: 36px;
}

.fix-price {
  font-weight: 400;
  line-height: 22px;
  color: #444444;
}

.modal-write-us {

  width: 760px;
  height: 430px;
  margin: 100px auto;
  padding: 80px 100px;
  box-shadow: 0 0 5px 100px #595a5a;
}



.write-us-name,
.write-us-email {
  line-height: 18px;
  width: 346px;
}

.modal-write-us h2 {
  font-size: 45px;
  line-height: 45px;
}

.modal-write-us p {
  display: inline-block;
}

.modal-write-us p:first-child {
  margin-right: 35px;
}

.modal-write-us p:last-of-type {
  margin-bottom: 40px;
}

.write-us-form label {
  display: block;
  line-height: 18px;
  font-weight: bold;
  margin-bottom: 10px;
}

.write-us-form input[type="text"] {
  padding: 5px;
}

.letter-content {
  width: 754px;
}
