body {
  margin: 0;
  padding: 0;

  font-family: "Roboto", sans-serif;
  font-size: 16px;
  line-height: 30px;
  font-weight: 400;
  color: #000000;
  background-color: #ffffff;
}



.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;

  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.main-header {
  width: 100%;
  background-color: #eeeeee;
}

.container,
.slider {
  width: 1160px;
  margin: 0 auto;
  padding: 0 20px;
}

.slider {
  padding: 10px 0px 0px 0px;
  margin-bottom: 80px;
}

.slider,
.site-navigation .site-navigavion-current {
  position: relative;
}

.slider-inner {
  overflow: hidden;
}

.slider-slides {
  width: 300%;
  display: flex;
  justify-content: space-between;
  transition: 0.8s;
}

.slider-slides div[class^="slide-"] {
    width: 1160px;
}

.slider input[type="radio"] {
  display: none;
}

.slider-controls {
  position: absolute;
  left: 50%;
  bottom: 104px;
  z-index: 100;

  width: 160px;
  height: 18px;

  text-align: center;
  font-size: 0;
  transform: translateX(-50%);
}

.slider-controls  label {
  position: relative;
  display: inline-block;
  cursor: pointer;
  width: 18px;
  height: 18px;
  border-radius: 50%;
  padding: 8px;

}

.slider-controls  label::before {
  content: "";
  position: absolute;
  left: 8px;
  width:18px;
  height: 18px;
  border-radius: 50%;
  background-color: #ffffff;
}

.slider-controls  label::after {
  content: "";
  position: absolute;
  left: 13px;
  top: 13px;
  width:4px;
  height: 4px;
  border-radius: 50%;
  background-color: #ffffff;

  z-index: 5;
}

#btn-1:checked ~ .slider-controls label[for="btn-1"]::after{
  border: 2px solid #c1c1c1;

}

#btn-2:checked ~ .slider-controls label[for="btn-2"]::after{
  border: 2px solid #c1c1c1;
}

#btn-3:checked ~ .slider-controls label[for="btn-3"]::after{
  border: 2px solid #c1c1c1;
}

#btn-1:checked ~ .slider-inner .slider-slides {
  transform: translateX(0);
}

#btn-2:checked ~ .slider-inner .slider-slides {
  transform: translateX(-1160px);
}

#btn-3:checked ~ .slider-inner .slider-slides {
  transform: translateX(-2320px);
}

.slide-1 {
  min-height: 413px;
  background: url("../img/slide1.png") no-repeat 431px 8px;
}

.slide-2 {
  min-height: 413px;
  background: url("../img/slide2.png") no-repeat 100% 0;
}

.slide-3 {
  min-height: 413px;
  background: url("../img/slide3.png") no-repeat 100% 9px;
}

div[class^="slide-"] p:first-child {
  font-size: 55px;
  line-height: 55px;
  margin: 0;
  margin-bottom: 26px;
  margin-top: 67px;
  font-weight: 500;
}

div[class^="slide-"] p:last-of-type {
  line-height: 24px;
  margin: 0;
  margin-bottom: 40px;
}

div[class^="slide-"] div:first-child {
  width: 380px;
  float: left;
  text-align: left;
}

.slide-2 p:first-child {
  width: 530px;
}

.slide-2 div:first-child {
  margin-right: 110px;
}

.slide-3 p:first-child {
  width: 410px;
}

.slide-3 p:last-of-type {
  width: 350px;
}

.slide-3 div:first-child {
  margin-right: 20px;
}

div[class^="slide"] .slide-button {
  width: 240px;
  margin-bottom: 80px;
}

.main-navigation .container {
  display: flex;
  justify-content: space-between;
}

.main-header-logo {
  height: 65px;
  width: 160px;
  padding-top: 50px;
  margin-right: 163px;
}

.main-header-logo:hover,
.main-header-logo:focus {
  opacity: .8;
}

.main-header-logo:active {
  opacity: .3;
}

.site-navigation {
  display: flex;
  width: 600px;

}

.site-navigation a,
.user-navigation a {
  display: block;
}

.user-navigation {
  position: relative;
  max-width: 160px;
}

.site-navigation,
.user-navigation {
  margin: 0;
  padding: 0;
  list-style: none;
}

.site-navigation a,
.user-navigation a {
  padding: 76px 0px 2px;
  text-decoration: none;
  text-transform: uppercase;
  color: #000000;
  margin-right: 45px;
}

.site-navigation li:nth-child(2) a {
  margin-right: 48px;
}
.site-navigation a:hover,
.user-navigation a:hover,
.site-navigation a:focus,
.user-navigation a:focus {
  text-decoration: none;
  text-transform: uppercase;
  color: #fb565a;
}

.site-navigation a:active,
.user-navigation a:active {
  text-decoration: none;
  text-transform: uppercase;
  color: #bcbcbc;
}

.site-navigation .site-navigavion-current::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  box-shadow: inset 0 -18px 0 -15px #fb565a;
  margin: 0 25px;
  top: 100%;
  left: 0;
  margin: 0;

}

.user-navigation .basket {
  padding-left: 85px;
}

.user-navigation .basket::before {
  content: "";
  position: absolute;

  top: 83px;
  left: 45px;
  width: 17px;
  height: 17px;

  background-image: url("../img/basket-icon.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}


.catalog-welcome {
  margin: 0;
  margin-bottom: 50px;
  padding-top: 77px;
  padding-bottom: 110px;
  font-size: 55px;
  line-height: 55px;
  text-align: center;
  background-color: #eeeeee;
}

.flex-catalog {
  display: flex;
}

.range-filter {
  width: 260px;
  margin-top: 37px;
}

.filter-item legend {
  line-height: 24px;
  font-weight: bold;
}

.range-controls {
  position: relative;
  height: 41px;
  margin-bottom: 15px;
  padding-top: 39px;
  background-color: #f1f1f1;
  padding-right: 20px;
  padding-left: 20px;
  border-radius: 5px;
}

.range-controls .scale {
  height: 2px;

  background: #d7dcde;
}

.range-controls .bar {
  width: 70%;
  height: 2px;

  background: #00ca74;
}

.range-controls .toggle {
  position: absolute;
  top: 31px;
  left: 0;
  width: 4px;
  height: 4px;
  padding: 0;

  border: 8px solid #ffffff;
  background-color: #ababab;
  border-radius: 50%;
  box-shadow: 0 2px 1px 0 #cfcfcf;
  cursor: pointer;
}

.range-controls .toggle-min {
  left: 18px;
}

.range-controls .toggle-max {
  left: 160px;
}

.price-controls {
  font-size: 0;
}

.price-controls label {
  display: inline-block;
  width: 50%;
  font-size: 16px;
  text-transform: uppercase;
  font-weight: 400;
}

.price-controls input {
  width: 60px;
  padding: 8px 10px;
  margin-left: 10px;
  font-family: Roboto, Arial, sans-serif;
  font-size: 16px;
  text-align: center;
  color: #283136;
  border: none;
  border-radius: 5px;
  background: #f1f1f1;
}

.max-price {
  text-align: right;
}

.catalog-filters {
  width: 260px;
  margin-right: 140px;
}

.price-filter .filter-item,
.catalog-filters fieldset {
  border: none;
  margin: 0;
  padding: 0;
  margin-top: 6px;
  margin-bottom: 53px;
}

.filter-form .filter-grid,
.filter-form .filter-advantages {
  margin-bottom: 25px;
}

.catalog-filters legend {
  font-weight: bold;
  margin-bottom: 15px;
}

.filter-form ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.filter-grid-title,
.filter-advantages-title,
.filter-item legend,
.sort span{
  text-transform: uppercase;
  font-size: 18px;
}

.filter-option {
  line-height: 20px;
  margin-bottom: 20px;
  padding-left: 38px;
}


.filter-option label {
  line-height: 20px;
  position: relative;

  display: block;

  cursor: pointer;
  user-select: none;

}

.filter-option label:hover,
.filter-option label:focus,
.filter-input:hover + label::before,
.filter-input:checked:hover + label::after,
.filter-input:checked:focus + label::after {
  opacity: 1;
}

.filter-input:checked:hover + label::after,
.filter-input:checked:focus + label::after {
  background-image: url("../img/checkbox-on-hover.svg");
}

.filter-input-radio + label::before {
  content: "";
  position: absolute;
  width: 0px;
  height: 0px;
  left: -40px;
  top: -2.7px;
  opacity: 0.4;
  border: 4px solid #000000;
  border-radius: 50%;
  padding: 8.5px;
}

.filter-input-radio:checked + label::after {
  content: "";
  position: absolute;
  width: 0px;
  height: 0px;

  top: 5.4px;
  left: -31px;
  opacity: 0.4;
  border: 4px solid #000000;
  border-radius: 50%;
}

.filter-input-checkbox + label::before {
  content: "";
  position: absolute;
  width: 23px;
  height: 23px;
  top: -1px;
  left: -40px;
  opacity: 0.4;
  background-image: url("../img/checkbox-off.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.filter-input-checkbox:checked + label::after  {
  content: "";
  position: absolute;
  width: 27px;
  height: 27px;
  fill: #a6a6a6;
  top: -3.5px;
  left: -40px;
  background-image: url("../img/checkbox-on.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.catalog {
  width: 760px;
  display: flex;
  flex-wrap: wrap;
}

.sort {
  width: 760px;
  height: 50px;
  margin-bottom: 70px;
  display: block;
}

.sort span {
  margin-right: 265px;
}

.sort a {
  text-transform: uppercase;
  margin-right: 21px;
  text-decoration: none;
  font-size: 14px;
  color: #000000;
  opacity: .3;
}

.sort a:nth-child(4) {
  margin-right: 45px;
}

.sort a:nth-child(6) {
  margin-right: 0;
}

.sort a:hover,
.sort a:focus {
  opacity: .6;
}

.sort a:active {
  opacity: 1;
}

.arrow::before {
  content: "";
  border: 10px solid #000;
  border-right-width: 6px;
  border-left-width: 6px;
  border-right-color: transparent;
  border-left-color: transparent;
  display: inline-block;
}

a.arrow {
  display: inline-block;
  font-size: 0;
  margin-right: 12px;
}

.arrow-up::before {
  border-top-width: 0;
}

.arrow-down::before {
  border-bottom-width: 0;
}

.catalog-list {
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
}

.catalog-item {
  position: relative;
  margin-right: 40px;
  margin-bottom: 65px;
}

.catalog-item:nth-last-child(1),
.catalog-item:nth-last-child(2) {
  margin-bottom: 47px;
}

.catalog-item::before {
  content: "";
  position: absolute;
  width: 360px;
  height: 40px;
  top: -38px;
  opacity: .12;
  background-image: url("../img/browser-item.png");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.catalog-item:hover::before,
.catalog-item:hover .item-hover  {
  opacity: 1;
}

.catalog-item .item-hover{
  position: absolute;
  width: 360px;
  opacity: 0;
  min-height: 220px;
  padding-top: 10px;
  top: 345px;
  text-align: center;
  background-color: #eeeeee;
}

.catalog-item a {
  margin-left: auto;
  margin-right: auto;
}

.catalog-category {
  display: block;
  width: 240px;
  margin-left: auto;
  margin-right: auto;
  color: #818181;
}

.catalog-item:nth-child(even) {
  margin-right: 0;
}

.catalog-item-title{
  text-transform: uppercase;
  color: #000000;
  text-decoration: none;
  font-weight: bolder;

}

.services .services-list  {
  display: flex;
  padding: 0;
  margin: 0;
  padding-bottom: 80px;
  list-style: none;
  border-bottom: 2px solid #eeeeee;
}

.services-item {
  width: 300px;
  margin-right: 100px;
}

.services-item:last-child {
  margin-right: auto;
}

.services-list h3 {
  margin: 0;
  padding: 15px 0px 0px 0px;
  font-size: 24px;
  text-transform: uppercase;
}

.services-list p {
  margin-bottom: 31px;
  line-height: 24px;
  font-weight: 400;
}

.button {
  display: block;
  width: 160px;
  height: 50px;
  vertical-align: middle;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  line-height: 50px;
  border-radius: 3px;
}

.filter-button {
  width: 258px;
  font-weight: bolder;
  border: none;
  background-color: #eeeeee;
}

.item-button {
  width: 200px;
}

.filter-button:hover,
.filter-button:focus {
  background-color: #dfdfdf;
}

.filter-button:active,
.pagination-list a:active {
  color: rgba(0, 0, 0, 0.3);
  background-color:#d5d5d5;
  box-shadow: inset 0 3px 0 0 rgba(0, 0, 0, 0.1);
}


.button-1 {
  color: #ffffff;
  background-color: #fb565a;
  border: none;
}

.button-1:hover,
.button-1:focus {
  background-color: #e74246;
}

.button-1:active {
  color: #e38486;
  background-color: #d7373b;
  box-shadow: inset 0 3px 0 0 #c13135;
}

.button-2 {
  color: #ffffff;
  background-color: #00ca74;
}

.button-2:hover,
.button-2:focus {
  background-color: #00bc6c;
}

.button-2:active {
  color: #74c69a;
  background-color: #00aa62;
  box-shadow: inset 0 3px 0 0 #009958;
}

.button-3 {
  color: #ffffff;
  background-color: #efc84a;
}

.button-3:hover,
.button-3:focus {
  background-color: #eab534;
}

.button-3:active {
  color: #edc47c;
  background-color: #e5a722;
  box-shadow: inset 0 3px 0 0 #ce961f;
}

.about-us {
  display: flex;
  padding-top: 74px;
  padding-bottom: 52px;
  border-bottom: 2px solid #eeeeee;
}

.description {
  font-size: 45px;
  line-height: 45px;
  margin-bottom: 33px;
  font-weight: 500;
}

.about-us-profit {
  min-width: 657px;
  margin-right: 140px;
  font-weight: 400;
}

.about-us-profit  p:nth-child(3) {
  line-height: 24px;
  margin-bottom: 37px;
}

.about-us-profit  p:nth-child(4) {
  text-transform: uppercase;
  font-weight: bolder;
}

.about-us .orders {
  list-style: none;

}

.orders li,
.about-us-profit  p:nth-child(4) {
  margin-bottom: 18px;
}

.orders li {
  position: relative;
  margin-left: -5px;
}

.orders li::before {
  content: "";
  position: absolute;
  width: 25px;
  top: 13px;
  left: -35px;
  border-bottom: 2px solid #fb565a;
}

.about-us-statistic {
  min-height: 52%;
  padding-top: 210px;

  position: relative;
  text-transform: uppercase;
}

.about-us-statistic>span {
  margin-left: 19px;
  font-weight: bolder;
}

.about-us-statistic::before{
  content: "";
  position: absolute;
  background-image: url("../img/about-us-logo.png");
  background-repeat: no-repeat;
  width: 360px;
  height: 208px;
  top: -34px;
  left: 3px;
}

.partners {
   display: flex;
   justify-content: space-between;
   align-items: center;
   height: 180px;
   border-bottom: 2px solid #eeeeee;
   margin-bottom: 80px;
}

.partners a {
   position: relative;
   margin-top: 11px;
}

.partners img {
  opacity: 0.2;
}

.partners a:hover img,
.partners a:focus img {
  opacity: 1;
}

.partners a:active img {
  opacity: 0.1  ;
}

.partners a:not(:last-child)::after {
  content: "";
  position: absolute;
  width: 255px;
  height: 52px;
  border-right: 2px solid #eeeeee;
}

.partners a:nth-child(2) {
  margin-left: 2px;
}

.partners a::after {
  top: 22px;
  left: 22px;
}

.statistic-list {
  margin-top: 40px;
  font-size: 45px;
  line-height: 10px;
  font-weight: bold;
}

.statistic-list .row-2 {
  font-size: 16px;
  font-weight: 400;
  text-transform: none;
}

.row-2 td {
  padding-top: 35px;
  line-height: 18px;
}

.row-1 td {
  padding-right: 20px;
}

.statistic-list .sup {
  font-size: 25px;
  vertical-align: super;
  font-weight: 700;
}

.main-footer {
  margin-bottom: 70px;
}

.find-us {

  margin-bottom: 70px;
}

.find-us-centr {
  width: 1439px;
  height: 416px;
  position: relative;
  margin-left: auto;
  margin-right: auto;
}

.find-us .map {
  width: 1439px;
  height: 416px;
  background-image: url("../img/map.jpg");
  background-repeat: no-repeat;
  background-position: 100%;
  margin-left: auto;
  margin-right: auto;

}

.contacts::before{
  content: "";
  position: absolute;
  width: 231px;
  height: 190px;
  background-image: url("../img/map-marker.png");
  margin-left: 630px;
}

.contacts {
  width: 219px;
  height: 207px;
  padding: 32px 50px 70px 50px;
  position: absolute;
  background-color: #ffffff;
  margin-left: 140px;
  margin-top: 56px;
}

.contacts p:first-child {
  width: 560px;
  font-size: 18px;
  margin-bottom: 21px;
  font-weight: 500;
}

.contacts p:nth-child(2),
.contacts p:nth-child(3),
.contacts p:nth-child(4) {
  font-size: 16px;
  margin: 0;
  padding: 0;
  line-height: 19px;
}

.contacts p:nth-child(3) {
  margin-bottom: 17px;
}

.contacts p:nth-child(4) {
  margin-bottom: 37px;
}

.find-us .write-button {
  width: 220px;
}

.main-footer .container {
  display: flex;
}

.social-footer {
  width: 260px;
  margin-right: 140px;
}

.pagination-list {
  margin-left: 400px;
  margin-bottom: 59px;
}

.pagination-list a {
  text-decoration: none;
  display: inline-block;
  padding-top: 13px;
  margin-right: 6px;
  width: 44px;
  height: 31px;
  border: 3px solid #eeeeee;
  text-align: center;
  background-color: #eeeeee;
  color: #000000;
  line-height: 18px;
  border-radius: 5px;
}

.pagination-list a:hover,
.pagination-list a:focus{
  background-color: #dfdfdf;
  border-color: #dfdfdf;
}

.pagination-list a:active {
  box-shadow: none;
  border-top: 3px solid #bfbfbf;
}

.pagination-list a:last-child {
  width: 260px;
  padding-bottom: 0;
}

.pagination-list .pagination-current {
  background-color: transparent;
}

.social-footer .social-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.social-list {
   display: flex;
   justify-content: space-between;
   width: 260px;
}

.social-button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80px;
  height: 80px;
  border-radius: 50%;
  color: #ffffff;
  background-color: #e1e1e1;

}

.social-button:hover,
.social-button:focus {
  color: #ffffff;
  background-color: #e74246;
}

.social-button:active {
  color: #e37376;
  background-color: #d7373b;
  box-shadow: inset 0 3px 0 0 rgba(0, 0, 0, 0.1);
}

.social-button:active svg {
  opacity: 0.3;

}

.friendship b {
  display: block;
  text-align: center;
  font-size: 36px;
  line-height: 36px;
  margin-top: 8px;
  margin-bottom: 4px;
}

.fix-price {
  line-height: 22px;
  color: #444444;
}

.modal-write-us {
  position: absolute;
  width: 760px;
  height: 430px;
  margin: 100px auto;
  padding: 80px 100px;
  background-color: #ffffff;
  box-shadow: 0 20px 40px 0px rgba(0,0,0,0.75);
  margin: auto;
  top: 0;
  left: 0px;
  right: 0;
  bottom: 220px;
}

.modal-write-us h2 {
  font-size: 45px;
  line-height: 45px;
  margin: 0;
  margin-bottom: 35px;
}

.modal-write-us div {
  display: inline-block;

}

.modal-write-us div:first-child {
  margin-right: 35px;
  margin-bottom: 35px;
}

.modal-write-us div:last-of-type {
  margin-bottom: 40px;
}

.write-us-form label {
  display: block;
  line-height: 18px;
  font-weight: 500;
  margin-bottom: 10px;
}

.write-us-form input[type="text"],
.letter-content {
  padding: 15px;
  font: inherit;
  line-height: 18px;
  width: 326px;
  opacity: 0.5;
}

.write-us-form input[type="text"]:focus,
.letter-content:focus {
  opacity: 1;
  border-color: #000000;
  outline: 0;
  outline-offset: 0;
}

.write-us-form input[type="text"]:invalid,
.letter-content:invalid {
  opacity: 1;
  border-color: #e74246;
  outline: 0;
  outline-offset: 0;
}

.letter-content {
  width: 724px;
  min-height: 90px;
}

.modal-write-us .modal-close {
    position: relative;
    border: none;
    padding: 0;
}

.write-us-form .modal-close::before {
  content: "";
  position: absolute;

  width: 21px;
  height: 21px;
  top: -450px;
  left: 750px;

  background-image: url("../img/close-cross.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
  opacity: 0.3;
}

.modal-close:hover::before,
.modal-close:focus::before {
  opacity: 1;

}

.modal-close:active::before{
  opacity: 0.1;
}
