body {
  margin: 0;
  padding: 0;

  font-family: "Roboto", sans-serif;
  font-size: 16px;
  line-height: 30px;
  font-weight: 500;
  color: #000000;
  background-color: #ffffff;
}

img {
  max-width: 100%;
  height: auto;
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;

  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.main-header {
  width: 100%;
  background-color: #eeeeee;
}

.container,
.slider {
  width: 1160px;
  margin: 0 auto;
  padding: 0 20px;
}

.slider {
  position: relative;
  margin-bottom: 80px;
}

.slider-inner {
  overflow: hidden;
}

.slider-slides {
  width: 300%;
  display: flex;
  justify-content: space-between;
}

.slider-slides section {
    width: 1160px;
}

.slider input[type="radio"] {
  display: none;
}

section[class^="slide-"] p:first-child {
  font-size: 55px;
  line-height: 55px;
  margin: 0;
  margin-bottom: 40px;
  margin-top: 70px;
}

section[class^="slide-"] p:last-of-type {
  line-height: 24px;
  margin: 0;
  margin-bottom: 40px;
}

section[class^="slide-"] div:first-child {
  width: 380px;
  float: left;
  text-align: left;
}

.slide-1 div:first-child {
  margin-right: 55px;
}


.slide-2 p:first-child {
  width: 530px;
}

.slide-2 div:first-child {
  margin-right: 110px;
}

.slide-3 p:first-child {
  width: 410px;
}

.slide-3 p:last-of-type {
  width: 350px;
}

.slide-3 div:first-child {
  margin-right: 20px;
}

section[class^="slide"] .slide-button {
  width: 260px;
}

.main-navigation .container {
  display: flex;
  justify-content: space-between;
}

.main-header-logo {
  height: 65px;
  width: 160px;
  padding-top: 50px;
  margin-right: 200px;
}

.main-header-logo:hover,
.main-header-logo:focus {
  opacity: .8;
}

.main-header-logo:active {
  opacity: .3;
}

.site-navigation {
  display: flex;
  width: 600px;

}

.site-navigation a,
.user-navigation a {
  display: block;
  padding: 85px 25px;
}

.user-navigation {
  position: relative;
  max-width: 160px;
}

.site-navigation,
.user-navigation {
  margin: 0;
  padding: 0;
  list-style: none;
}

.site-navigation a,
.user-navigation a {
  padding: 85px 25px 20px;
  text-decoration: none;
  text-transform: uppercase;
  color: #000000;
}

.site-navigation a:hover,
.user-navigation a:hover,
.site-navigation a:focus,
.user-navigation a:focus {
  text-decoration: none;
  text-transform: uppercase;
  color: #fb565a;
}

.site-navigation a:active,
.user-navigation a:active {
  text-decoration: none;
  text-transform: uppercase;
  color: #bcbcbc;
}

.site-navigation .site-navigavion-current {
  box-shadow: inset 0 -20px 0 -15px #fb565a;
}

.user-navigation .basket {
  padding-left: 80px;
}

.user-navigation .basket::before {
  content: "";
  position: absolute;

  top: 92px;
  left: 45px;
  width: 17px;
  height: 17px;

  background-image: url("../img/basket-icon.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.catalog-welcome {
  margin: 0;
  margin-bottom: 60px;
  padding-top: 65px;
  padding-bottom: 110px;
  font-size: 55px;
  line-height: 55px;
  text-align: center;
  background-color: #eeeeee;
}

.flex-catalog {
  display: flex;
}

.catalog-filters {
  width: 260px;
  margin-right: 140px;
}

.catalog-filters fieldset {
  border: none;
  margin: 0;
  padding: 0;

  margin-bottom: 35px;
}

.catalog-filters legend {
  font-weight: bold;
  margin-bottom: 10px;
}

.filter-form ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.filter-grid-title,
.filter-advantages-title {
  text-transform: uppercase;
  font-size: 18px;
}

.filter-option {
  line-height: 20px;
  margin-bottom: 25px;
  padding-left: 40px;
}


.filter-option label {
  line-height: 20px;
  position: relative;

  display: block;

  cursor: pointer;
  user-select: none;

}

.filter-option label:hover,
.filter-option label:focus,
.filter-input:hover + label::before,
.filter-input:checked:hover + label::after {
  opacity: 1;
}

.filter-input-radio + label::before {
  content: "";
  position: absolute;
  width: 17px;
  height: 17px;

  left: -40px;
  top: -2.7px;
  opacity: 0.4;
  border: 4px solid #000000;
  border-radius: 50%;
}

.filter-input-radio:checked + label::after {
  content: "";
  position: absolute;
  width: 0px;
  height: 0px;

  top: 6px;
  left: -31.5px;
  opacity: 0.4;
  border: 4px solid #000000;
  border-radius: 50%;
}

.filter-input-checkbox + label::before {
  content: "";
  position: absolute;
  width: 23px;
  height: 23px;
  top: -1px;
  left: -40px;
  opacity: 0.4;
  background-image: url("../img/checkbox-off.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.filter-input-checkbox:checked + label::after  {
  content: "";
  position: absolute;
  width: 27px;
  height: 27px;
  opacity: 0.4;
  top: -3.5px;
  left: -40px;
  background-image: url("../img/checkbox-on.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.catalog {
  width: 760px;
  display: flex;
}

.catalog-list {
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
}

.catalog-item {
  position: relative;
  margin-right: 40px;
  margin-bottom: 65px;
}

.catalog-item::before {
  content: "";
  position: absolute;
  width: 360px;
  height: 40px;
  top: -38px;
  opacity: .12;
  background-image: url("../img/browser-item.png");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.catalog-item:hover::before {
  opacity: 1;
}

.catalog-item .item-hover{
  position: absolute;
  width: 360px;
  opacity: 0;
  min-height: 220px;
  padding-top: 10px;
  top: 345px;
  text-align: center;
  background-color: #eeeeee;
}

.catalog-item:hover .item-hover {
  opacity: 1;
}

.catalog-item a {
  margin-left: auto;
  margin-right: auto;
}

.catalog-category {
  display: block;
  width: 240px;
  margin-left: auto;
  margin-right: auto;
  color: #818181;
}

.catalog-item:nth-child(even) {
  margin-right: 0;
}

.catalog-item-title{
  text-transform: uppercase;
  color: #000000;
  text-decoration: none;
  font-weight: bolder;

}

.services .services-list  {
  display: flex;
  padding: 0;
  margin: 0;
  margin-bottom: 100px;
  list-style: none;
}

.services-item {
  width: 300px;
  margin-right: 100px;
}

.services-item:last-child {
  margin-right: auto;
}

.services-list h3 {

  font-size: 24px;
  text-transform: uppercase;
}

.services-list p {
  margin-bottom: 35px;
  line-height: 24px;
  font-weight: 400;
}

.button {
  display: block;
  width: 160px;
  padding-top: 15px;
  padding-bottom: 15px;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  line-height: 18px;
  border-radius: 5px;
  border-radius: 5px;
}

.filter-button {
  width: 258px;
  font-weight: bolder;
  border: none;
  background-color: #eeeeee;
}

.item-button {
  width: 200px;
}

.filter-button:hover,
.filter-button:focus {
  background-color: #dfdfdf;
}

.filter-button:active {
  color: rgba(0, 0, 0, 0.3);
  background-color:#d5d5d5;
  box-shadow: inset 0 3px 0 0 rgba(0, 0, 0, 0.1);
}


.button-1 {
  color: #ffffff;
  background-color: #fb565a;
  border: none;
}

.button-1:hover,
.button-1:focus {
  background-color: #e74246;
}

.button-1:active {
  color: #e38486;
  background-color: #d7373b;
  box-shadow: inset 0 3px 0 0 #c13135;
}

.button-2 {
  color: #ffffff;
  background-color: #00ca74;
}

.button-2:hover,
.button-2:focus {
  background-color: #00bc6c;
}

.button-2:active {
  color: #74c69a;
  background-color: #00aa62;
  box-shadow: inset 0 3px 0 0 #009958;
}

.button-3 {
  color: #ffffff;
  background-color: #efc84a;
}

.button-3:hover,
.button-3:focus {
  background-color: #eab534;
}

.button-3:active {
  color: #edc47c;
  background-color: #e5a722;
  box-shadow: inset 0 3px 0 0 #ce961f;
}

.main-footer .container {
  display: flex;
}

.social-footer {
  width: 260px;
  margin-right: 140px;
}

.social-footer .social-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.main-footer p {
  width: 560px;
}

.social-list {
   display: flex;
   justify-content: space-between;
   width: 260px;
}

.social-button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80px;
  height: 80px;
  border-radius: 50%;
  color: #ffffff;
  background-color: #e1e1e1;

}

.social-button:hover,
.social-button:focus {
  color: #ffffff;
  background-color: #e74246;
}

.social-button:active {
  color: #e37376;
  background-color: #d7373b;
  box-shadow: inset 0 3px 0 0 rgba(0, 0, 0, 0.1);
}

.social-button:active svg {
  opacity: 0.3;

}

.main-footer b {
  text-align: center;
  font-size: 36px;
  line-height: 36px;
}

.fix-price {
  font-weight: 400;
  line-height: 22px;
  color: #444444;
}

.modal-write-us {
  width: 760px;
  height: 430px;
  margin: 100px auto;
  padding: 80px 100px;
  box-shadow: 0 20px 40px 0px rgba(0,0,0,0.75)

}

.modal-write-us h2 {
  font-size: 45px;
  line-height: 45px;
  margin: 0;
  margin-bottom: 35px;
}

.modal-write-us div {
  display: inline-block;

}

.modal-write-us div:first-child {
  margin-right: 35px;
  margin-bottom: 35px;
}

.modal-write-us div:last-of-type {
  margin-bottom: 40px;
}

.write-us-form label {
  display: block;
  line-height: 18px;
  font-weight: 500;
  margin-bottom: 10px;
}

.write-us-form input[type="text"],
.letter-content {
  padding: 15px;
  font: inherit;
  line-height: 18px;
  width: 326px;
}

.letter-content {
  width: 724px;
  min-height: 90px;
}

.modal-write-us .modal-close {
    position: relative;
    border: none;
    padding: 0;
}

.write-us-form .modal-close::before {
  content: "";
  position: absolute;

  width: 21px;
  height: 21px;
   top: -450px;
   left: 750px;

  background-image: url("../img/close-cross.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
  opacity: 0.3;
}

.modal-close:hover::before,
.modal-close:focus::before {
  opacity: 1;

}

.modal-close:active::before{
  opacity: 0.1;
}
